[Desktop Entry]
Version=1.0
Type=Application
Name=Hudba z youtube
Comment=
Exec=python /home/d/Plocha/download_songs.py
Icon=im-youtube
Path=
Terminal=true
StartupNotify=false
